body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  padding: 0 0 170px;
  background-color: #504e4e;
}
.box-foto {
  width: 88px;
  height: 88px;
  margin: 0 8px 16px 210px;
  object-fit: contain;
  border-radius: 36px;
}

.container-form {
  width: 516px;
  text-align: center;
  margin: 41px auto;
  padding: 24px;
  border-radius: 3px;
  border: solid 1px #3b3b3b;
  background-color: #313131;
}
.btn-active {
  width: 98px;
  height: 41px;
  margin: 0 0 0 24px;
  padding: 12px 24px;
  border-radius: 8px;
  background-color: #71bb00;
}
.input-text {
  width: 468px;
  height: 80px;
  margin: 8px 0 32px;
  padding: 12px 16px;
  border-radius: 8px;
  background-color: #494949;
  color: aliceblue;
  font-size: 14px;
  
}
.input {  
  width: 130px;
  height: 40px;
  margin: 16px 0 8px;
  padding: 12px 349px 11px 16px;
  border-radius: 8px;
  background-color: #494949; 

}

.descartar {
  width: 60px;
  height: 17px;
  margin: 12px 24px 12px 0;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: center;
  color: #5f5f5f;
}
.Publicar {
  width: 50px;
  height: 17px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}

.btn{
  text-align: right;
}



.header {
  max-height: 93px;
  text-align: center;
  padding: 25px 0;
  background-color: #2b2b2b;
}

